@model ToDoListMVCApp.ViewModels.AllTasksVM

@{
    ViewBag.Title = "Task List";
}

<div align="right">
    <button type="submit" class="btn btn-primary">
        @Html.ActionLink("Add New Task", "AddTask", new { id = Model.UserID }, new { style = "text-decoration:none;color:white" })
    </button>
</div>
<h2 align="center">Tasks List</h2>
@using (Html.BeginForm())
{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Task Name</th>
                <th>Creation Date</th>
                <th>Status</th>
                <th>SubTask</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Tasks.Count == 0)
                {
                    <tr>
                        <td colspan="6">Sorry there is no task! Please add task</td>
                    </tr>
                }
                else
                {
                    int i = 1;
                    foreach (var task in Model.Tasks)
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>@task.TaskName</td>
                            <td>@task.CreationDate</td>
                            <td>@task.Status</td>
                            <td>
                                <button type="submit" class="btn btn-info">
                                    @if (task.SubTasks.Count == 0)
                                    {
                                        @Html.ActionLink("Sub Task (" + 0 + ")", "Index", "SubTask", new { id = task.ID, userid = task.UsersID }, new { style = "text-decoration:none;color:white" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Sub Task (" + task.SubTasks.Count + ")", "Index", "SubTask", new { id = task.ID, userid = task.UsersID }, new { style = "text-decoration:none;color:white" })

                                    }
                                </button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-success">
                                    @Html.ActionLink("Edit", "UpdateTask", new { id = task.ID, userid = task.UsersID }, new { style = "text-decoration:none;color:white" })
                                </button>
                                </td>
                            <td>
                                <button type="submit" class="btn btn-danger">
                                    @Html.ActionLink("Delete", "DeleteTask", new { id = task.ID, userid = task.UsersID }, new { style = "text-decoration:none;color:white" })
                                </button>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
}

