<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
   
</head>
<body class="m-3">

    <div>
        <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("To-Do List", "Home", "Tasks", null, new { @class = "navbar-brand" })
            }
            else
            {
                @Html.ActionLink("To-Do List", "Start", "User", null, new { @class = "navbar-brand" })
            }
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            @Html.ActionLink("See your Tasks", "Index", "Tasks", new { id = Guid.Parse(User.Identity.Name.Split(',')[1]) }, new { @class = "nav-link" })
                        </li>
                    </ul>
                    <h5 style="color:antiquewhite;margin-right:20px">Welcome Mr. @User.Identity.Name.Split(',')[0]</h5>
                    <form class="form-inline my-2 my-lg-0">
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit" id="btnSignUp">
                            @Html.ActionLink("Log Out", "Logout", "User", null, new { style = "text-decoration:none;color:white" })
                        </button>
                    </form>
                }
                else
                {
                    <ul class="navbar-nav mr-auto">
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <button class="btn btn-outline-warning mr-sm-2" type="submit" id="btnLogin">
                            @Html.ActionLink("Login", "LoginUser", null, new { style = "text-decoration:none;color:white" })
                        </button>
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit" id="btnSignUp">
                            @Html.ActionLink("Sign Up", "AddUser", null, new { style = "text-decoration:none;color:white" })
                        </button>
                    </form>
                }
            </div>
        </nav>

    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div>
        <footer class="card-footer bg-dark" style="margin-top:30px">
            <p class="text-white">&copy; @DateTime.Now.Year - My To-Do List</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>